# Never commit secrets
*.env

# automation-stack
**/bazarr/
**/bazarr-anime/
**/prowlarr/
**/radarr/
**/radarr-anime/
**/recyclarr/*
**/sonarr/
**/sonarr-anime/

# db-stack
**/mysql/

# dns-stack
**/pihole/

# frontend-stack
**/jellyfin/
**/jellyseerr/

# immich-stack
**/db/
**/immich_machine_learning/
**/redis/

# management-stack
**/homarr/
**/portainer/
**/dash/
**/uptime-kuma/

# vpn-stack
**/gluetun/
**/qbittorrent/

# Exceptions
!**/recyclarr/recyclarr.example.yml

# Editor
.vscode/
