# Never commit .env
*.env

# dns-stack
**/pihole/

# immich-stack
**/db/
**/immich-machine-learning

# frontend-stack
**/jellyfin/
**/jellyseerr/

# management-stack
**/homarr/
**/portainer/

# media-stack
**/bazarr/
**/bazarr_anime/
**/prowlarr/
**/radarr/
**/radarr_anime/
**/recyclarr/*
**/sonarr/
**/sonarr_anime/

# vpn-stack
**/gluetun/
**/qbittorrent/

# Exceptions
!**/recyclarr/recyclarr.example.yml

# Editor
.vscode/
