# Default Values
PUID=1000
PGID=1000

# Change to your preferred time zone
TZ=America/Los_Angeles

# Change paths to your desired path
DOWNLOADS_PATH=your/downloads/path

# Jellyfin Paths
SANDBOX_PATH=your/sandbox/path
SHOWS_PATH=your/shows/path
MOVIES_PATH=your/movies/path
ANIME_SERIES_PATH=your/anime/series/path
ANIME_MOVIES_PATH=your/anime/movies/path

# Port Mappings
RADARR_PORT=6001
RADARR_ANIME_PORT=6002
SONARR_PORT=6003
SONARR_ANIME_PORT=6004
BAZARR_PORT=6005
BAZARR_ANIME_PORT=6006
PROWLARR_PORT=6007
