# Minecraft Server Data Path
MC1_DATA_PATH=/path/to/data1
MC2_DATA_PATH=/path/to/data2
MC3_DATA_PATH=/path/to/data3
MC1_BACKUP_PATH=/path/to/backup1
MC2_BACKUP_PATH=/path/to/backup2
MC3_BACKUP_PATH=/path/to/backup3

# Backup shared defaults
BACKUP_SERVER_PORT=25565

# MC1: Vanilla server
MC1_MEMORY_ALLOCATION=2G
MC1_VERSION=1.21.11
MC1_MOTD=A Minecraft server running on Docker!
MC1_RCON_PORT=25575
MC1_IMAGE_TAG=latest

# MC2: Vanilla server
MC2_MEMORY_ALLOCATION=2G
MC2_VERSION=1.21.11
MC2_MOTD=A Minecraft server running on Docker!
MC2_RCON_PORT=25576
MC2_IMAGE_TAG=latest

# MC3: Vanilla server
MC3_MEMORY_ALLOCATION=2G
MC3_VERSION=1.21.11
MC3_MOTD=A Minecraft server running on Docker!
MC3_RCON_PORT=25577
MC3_IMAGE_TAG=java21

# Shared defaults used by every server
TZ=America/Los_Angeles
DEFAULT_OPS=DotDavid_

# Player groups
GROUP_WHITELIST=DotDavid_, Erndizle, IcyAvenger, Khillshot, ImKillertroll, RawAdrian, TheButlerReborn, NASDOT, Flameray52, E_Ace, SestoSir, JoelSesto, SLIM3YSLURM, LaufeyEnthusiast
GROUP_MAX_PLAYERS=13
PRIVATE_WHITELIST=DotDavid_
PRIVATE_MAX_PLAYERS=1