name: game-stack
    
networks:
    default:
        name: home-net
        external: true

services:
    minecraft:
        image: itzg/minecraft-server
        container_name: minecraft
        environment:
            - EULA=TRUE
            - VERSION=1.21.11
            - MEMORY=6G
            - TYPE=FABRIC
            - ALLOW_FLIGHT=TRUE
            - DIFFICULTY=HARD
            - WHITELIST=${WHITELIST}
            - OPS=${OPS_LIST}
            - SPAWN_PROTECTION=0
            - ENABLE_WHITELIST=TRUE
            - ENFORCE_WHITELIST=TRUE
            - MAX_PLAYERS=${MAX_PLAYERS}
            - MOTD=${MOTD}
            - TZ=${TZ}
        volumes:
            - ${WORLD_DATA_PATH}:/data
        ports:
            - 25565:25565 # Minecraft
            - 24455:24455/udp # Simple Voice Chat
        labels:
            - "com.centurylinklabs.watchtower.enable=false"
        restart: unless-stopped
