name: game-stack
    
networks:
    default:
        name: home-net
        external: true
    
x-minecraft: &x-minecraft
    image: itzg/minecraft-server
    environment:
        - EULA=TRUE
        - VERSION=1.21.11
        - TYPE=FABRIC
        - ALLOW_FLIGHT=TRUE
        - DIFFICULTY=HARD
        - SPAWN_PROTECTION=0
        - ENABLE_WHITELIST=TRUE
        - ENFORCE_WHITELIST=TRUE
    labels:
        - "com.centurylinklabs.watchtower.enable=false"
    restart: unless-stopped

x-backup: &x-backup
    image: itzg/mc-backup
    environment:
        - SRC_DIR=/data
        - BACKUP_METHOD=tar
        - BACKUP_INTERVAL=1h
        - INITIAL_DELAY=0
        - BACKUP_ON_STARTUP=TRUE
        - DEST_DIR=/backups
        - PAUSE_IF_NO_PLAYERS=TRUE
        - PLAYERS_ONLINE_CHECK_INTERVAL=30m
        - PRUNE_BACKUPS_DAYS=7
        - ENABLE_SAVE_ALL=TRUE
        - ENABLE_SYNC=TRUE
    volumes:
        - /etc/localtime:/etc/localtime:ro
        - /etc/timezone:/etc/timezone:ro
    labels:
        - "com.centurylinklabs.watchtower.enable=false"
    restart: unless-stopped

services:
    mc1:
        <<: *x-minecraft
        container_name: mc1
        env_file:
            - mc1.env
        volumes:
            - ${MC1_DATA_PATH}:/data
        ports:
            - 25565:25565 # Minecraft
            - 24455:24455/udp # Simple Voice Chat
    mc1-backup:
        <<: *x-backup
        container_name: mc1-backup
        env_file:
            - mc1-backup.env
        depends_on:
            mc1:
                condition: service_healthy
        volumes:
            - ${MC1_DATA_PATH}:/data:ro
            - ${MC1_BACKUP_PATH}:/backups
    mc2:
        <<: *x-minecraft
        container_name: mc2
        env_file:
            - mc2.env
        volumes:
            - ${MC2_DATA_PATH}:/data
        ports:
            - 25566:25565 # Minecraft
            - 24454:24454/udp # Simple Voice Chat
    mc2-backup:
        <<: *x-backup
        container_name: mc2-backup
        env_file:
            - mc2-backup.env
        depends_on:
            mc2:
                condition: service_healthy
        volumes:
            - ${MC2_DATA_PATH}:/data:ro
            - ${MC2_BACKUP_PATH}:/backups