# MCX Backup Environment Variables (Change ports to your server instance)
SERVER_PORT=25565
RCON_PORT=25575

# Change RCON_HOST to the name of the Minecraft server conrtainer (mc1, mc2, etc.)
RCON_HOST=

# Change to your preferred time zone
TZ=America/Los_Angeles