# Minecraft Server Memory Allocation
MEMORY_ALLOCATION=4G

# Minecraft Whitelist and Ops
WHITELIST=
OPS=

# Max number of Players
MAX_PLAYERS=20

# RCON Port - Explicit declaration due to multiple servers and backup containers
RCON_PORT=25575

# Minecraft Message of the Day
MOTD=A Minecraft server running on Docker!

# Change to your preferred time zone
TZ=America/Los_Angeles