# Default Values
PUID=1000
PGID=1000

# Change to your preferred time zone
TZ=America/Los_Angeles

# Change paths to your desired path
LIBRARY_PATH=/path/to/library
STAGING_PATH=/path/to/download/parent/directory

# Change this to the local ip of your machine that's running Jellyfin
JELLYFIN_SERVER_URL=http://192.168.4.210