# Default Values
PUID=1000
PGID=1000

# Change to your preferred time zone
TZ=America/Los_Angeles

# Change paths to your desired path
LIBRARY_PATH=/path/to/library
STAGING_PATH=/path/to/download/parent/directory