{% extends "base.html" %}

{% block title %}{{ server.world_name }} Details{% endblock %}

{% block content %}
    <section>
        <!-- dl tag = description list, dt tag = description term -->
        <h2>{{ server.world_name }} Details</h2>
        <dl class="server-details">
        <dt>Slug</dt>
        <dd>{{ server.slug }}</dd>
        <!-- When this form is submitted, send data as POST request and sent to url... -->
        <form method="post" action="{% url 'update_server_details' server.slug %}">
            {% csrf_token %}
            <textarea name="slug">{{ server.slug }}</textarea>
            <button type="submit">Save</button>
        </form>

        <dt>Version</dt>
        <dd>{{ server.version }}</dd>
        <form method="post" action="{% url 'update_server_details' server.slug %}">
            {% csrf_token %}
            <textarea name="version">{{ server.version }}</textarea>
            <button type="submit">Save</button>
        </form>

        <dt>Memory</dt>
        <dd>{{ server.allocated_memory }} GB</dd>
        <form method="post" action="{% url 'update_server_details' server.slug %}">
            {% csrf_token %}
            <textarea name="allocated_memory">{{ server.allocated_memory }}</textarea>
            <button type="submit">Save</button>
        </form>

        <dt>Port</dt>
        <dd>{{ server.port }}</dd>
        <form method="post" action="{% url 'update_server_details' server.slug %}">
            {% csrf_token %}
            <textarea name="port">{{ server.port }}</textarea>
            <button type="submit">Save</button>
        </form>

        <dt>Status</dt>
        <dd>{% if server.is_active %}Active{% else %}Stopped{% endif %}</dd>
        <form method="post" action="{% url 'update_server_details' server.slug %}">
            {% csrf_token %}
            <textarea name="is_active">{{ server.is_active }}</textarea>
            <button type="submit">Save</button>
        </form>

        <dt>Notes</dt>
        <dd>{{ server.notes }}</dd>
        <form method="post" action="{% url 'update_server_notes' server.slug %}">
            {% csrf_token %}
            <textarea name="notes">{{ server.notes }}</textarea>
            <button type="submit">Save Notes Endpoint</button>
        </form>
    </dl>
    </section>
    
    <p> <a href="{% url 'game_server_edit_detail' server.slug %}" class="button">Edit Server Details</a> </p>
    <p> <a href="{% url 'game_server_list' %}" class="button">Back to Game Server Status page</a> </p>
{% endblock %}