# Default values
PUID=1000
PGID=1000

# Change to your preferred time zone
TZ=America/Los_Angeles

# Change to your preferred paths
DOWNLOADS_PATH=/your/path
INCOMPLETE_DOWNLOADS_PATH=/your/path
TORRENTS_PATH=/your/path

# Change to your preferred countries
SERVER_COUNTRIES=United States, Canada, Switzerland, Netherlands

# Secrets
WIREGUARD_PRIVATE_KEY=changeme

# Port Mappings
QBITTORRENT_PORT=7001
