# Changed to your preferred time zone
TZ=America/Los_Angeles
PUID=1000
PGID=1000

# Secrets
MINIO_ROOT_USER=loki
MINIO_ROOT_PASSWORD=changeme

# Host Port Mappings
GRAFANA_HOST_PORT=4501
LOKI_GATEWAY_HOST_PORT=4502
ALLOY_HOST_PORT=4503
