# Changed to your preferred time zone
TZ=America/Los_Angeles
PUID=1000
PGID=1000

# Secrets
MINIO_ROOT_USER=loki
MINIO_ROOT_PASSWORD=changeme

# Host Port Mappings
ALLOY_HOST_PORT=4101
DASHDOT_HOST_PORT=4102
GRAFANA_HOST_PORT=4103
LOKI_GATEWAY_HOST_PORT=4104
UPTIME_KUMA_HOST_PORT=4105
