# Default Values
PUID=1000
PGID=1000

# Change to your preferred time zone
TZ=America/Los_Angeles

# Volume Mappings
DOWNLOADS_PATH=/your/path
SHOWS_PATH=/your/path
MOVIES_PATH=/your/path
ANIME_SERIES_PATH=/your/path
ANIME_MOVIES_PATH=/your/path

# Host Port Mappings
BENTOPDF_HOST_PORT=3001
OMNI_TOOLS_HOST_PORT=3002