# Default Values
PUID=1000
PGID=1000

# Change to your preferred time zone
TZ=America/Los_Angeles

# Volume Mappings
DOWNLOADS_PATH=/your/path
SHOWS_PATH=/your/path
MOVIES_PATH=/your/path
ANIME_SERIES_PATH=/your/path
ANIME_MOVIES_PATH=/your/path

# Port Mappings
BENTOPDF_PORT=3001
OMNI_TOOLS_PORT=3002
PAPERLESS_AI_PORT=3003
PAPERLESS_WEB_PORT=3004

# Paperless OCR Settings
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_OCR_LANGUAGES=deu spa chi_sim chi_tra jpn rus tur ces ara

# Postgres Settings
POSTGRES_DB=paperless
POSTGRES_USER=user
POSTGRES_PASSWORD=password