{% extends "pals/tool_base.html" %}
{% block tool_form %}
<label>
    Owner
    <select class="js-owner" name="owner"></select>
</label>
<label>
    Search Drops
    <span class="suggest-field" data-ranch-drop-search>
        <input name="search" type="search" autocomplete="off" placeholder="Milk, Wool, Honey...">
        <span class="suggest-menu" data-ranch-drop-menu></span>
    </span>
</label>
<label class="check-row">
    <input name="includeInsomnia" type="checkbox">
    Add Insomnia to the passive target
</label>
{% endblock %}
