# Default Values
PUID=1000
PGID=1000

# Change to your preferred time zone
TZ=America/Los_Angeles

# Host Port Mappings
FILEBROWSER_HOST_PORT=9001
SYNCTHING_HOST_PORT=9002
SYNCTHING_TCP_HOST_PORT=9003
SYNCTHING_UDP_HOST_PORT=9003
SYNCTHING_DISCOVERY_HOST_PORT=9004