# Default Values
PUID=1000
PGID=1000

# Change to your preferred time zone
TZ=America/Los_Angeles

# Port Mappings
PAPERLESS_AI_PORT=9003
PAPERLESS_WEB_PORT=9004

# Paperless OCR Settings
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_OCR_LANGUAGES=deu spa chi_sim chi_tra jpn rus tur ces ara

# Postgres Settings
POSTGRES_DB=paperless
POSTGRES_USER=user
POSTGRES_PASSWORD=password